<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graduating in life</title>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg bg-light navSize"
      style="background-color: #8c757b"
    >
      <div class="container-fluid">
        <a class="navbar-brand active" href="/">GIL</a>
        <!-- suggestion as logo can be just Home -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events/new">Create Event</a>
            </li>
            <li class="nav-item">
              {% if 'user_id'in session %}
              <a class="nav-link me-5" href="/logout">Logout </a>
              {%else %}
              <a class="nav-link" href="/login">Login</a>
              {% endif %}
            </li>
            <li class="nav-item"></li>
          </ul>
          {% if 'user_id'in session %}
          <p class="navbar-text nav mt-2 ms-5">
            Welcome {{current_user.first_name}}
          </p>
          {% endif %}
        </div>
      </div>
    </nav>
    <div class="container">
      <header>
        <h1 class="home-header">Graduating in Life</h1>
      </header>
      <div class="home-main">
        <img
          class="home-img col-5"
          src="../static/images/pexels-alena-darmel-8153998.jpg"
          alt=" three people standing celebrating"
        />
        <div class="home-p col-5">
          <p>
            Inspired by news from the BBC "The Happy Podcast", our focus is to
            promote opportunities for the senior members of our communities to
            celebrate life. Here administrators of senior living communities
            and/or other inspired members of our society can create events that
            resemble a high school senior prom for those who could have actually
            graduated twice over.
          </p>
          <p>
            Seniors attending are encouraged to bring photos or other small
            items to share from the days they were in school.
          </p>
          <p>
            If you would like to see the events we have available or you felt
            inspired and want to promote an event, please Login or Register.
          </p>
          <a href="/register" class="btn btn-secondary home-btn">Register</a>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
