<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='style.css') }}"
    />
        <!-- <link rel="stylesheet" type="text/css" href="../static/style.css" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Graduating in life</title>
  </head>
  <body>
    
      <nav
      class="navbar navbar-expand-lg bg-light navSize"
      style="background-color: #8c757b"
    >
      <div class="container-fluid">
        <a class="navbar-brand active" href="/">GIL</a>
        <!-- suggestion as logo can be just Home -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/events/new">Create Event</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>



<div class="container">
       <h1 class="home-header">Graduating in Life</h1>
      </header>
      <div class="home-main">
      
        <div class="home-p col-5">

        <h3 class="mb-5 mt-5 ">{{event.name}}</h3>
        <p>Event Organizer: {{event_organizer.first_name}}</p>
       
          <form 
            action="/event/{{id}}"
            class=" mt-5 mb-5"
            method="post"
           >
            
              <label for="name" class="form-label">Location:</label>
              <p>{{event.location}}</p>
            
           
              <label for="description" class="form-label">Description:</label>
           
              
            <p>{{event.description}}</p>
          
                 <label for="date" class="form-label">
              Date:
              </label>
               <p>{{event.date.strftime('%m/%d/%y')}}</p>
                <div class="">
              <label for="time" class="form-label">Time:</label>
              <p>{{event.time}}</p>
<button class="btn btn-secondary">Sign up for this event</button>
        </form>  
       </div>  
       </div>
       <div>
        
       </div>
        <img
          class="home-img "
          src="../static/images/john-moeses-bauan-8YVaEljM-9I-unsplash.jpg"
          alt=" Couple dancing "
        />
       
    </div>
</div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  </body>
</html>
